* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chessboard {
    margin: 0 auto;
    background-color: rgb(255, 171, 116);

    width: 355px;
    height: 355px;
}

.border-radius {
    font-size: 0;
    border: 25px solid rgb(51, 22, 5);

    width: 355px;
    height: 355px;
}

.White, .Brown {
    display: inline-block;

    width: 20%;
    height: 20%;
}

.White {
    background-color: rgb(255, 230, 189);
}

.Brown {
    background-color: rgb(85, 47, 30);
}